<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="placeService">
            <h2><span>Place Service</span> {{placeService.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{placeService.name}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{placeService.price}}</span>
                </dd>
                <dt><span>Service</span></dt>
                <dd>
                    <div *ngIf="placeService.serviceId">
                        <a [routerLink]="['/service-my-suffix', placeService.serviceId, 'view']">{{placeService.serviceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/place-service-my-suffix', placeService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
